# Framework principal
react==18.2.0
react-dom==18.2.0

# Bundler
vite==5.2.0

# Estilos
tailwindcss==3.4.17
postcss==8.4.38
autoprefixer==10.4.19

# Enrutamiento
react-router-dom==6.23.1

# Consumo de API
axios==1.6.8

# Autenticación
jwt-decode==4.0.0
